@media (max-width: 480px) {

    .h1, h1 {
        font-size: 23px;
        line-height: 32px;
    }
    .h1_desc {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 25px;
    }
    .tab_item {
        font-size: 12px;
        line-height: 16px;
    }
    .contact_link_wrap {
        margin: auto;
    }
    .contact_link {
        text-align: center;
    }
    .menu,
    .menu_item {
        display: block;
        width: 100%;
    }
    .menu_item {
        text-align: center;
        padding: 5px 0;
    }
    .header.show .header_body {
        width: 75%;
    }
}
