body {
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #1E2426;
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    &.no_scroll {
        overflow-y: hidden;
    }
}
.body {
    overflow-x: hidden;
}
*,
::after,
::before {
    box-sizing: border-box
}
:focus {
    outline: none;
}
html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
.small {
    font-size: 70%
}
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}
sub {
    bottom: -.25em
}
sup {
    top: -.5em
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    margin-top: 0;
    color: inherit;
    display: inline-block;
}
.h1, h1 {
    font-size: 44px;
    line-height: 54px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
.h2, h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
    margin-bottom: 20px;
}
.h3, h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.h4, h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
}
.h5, h5,
.h6, h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

a {
    color: #237CE5;
    text-decoration: none;
}
a, .btn {
    transition: all .2s;
}
a:hover,
a:focus {
    outline: none;
    transition: all .2s;
    color: #237CE5;
    text-decoration: none;
}
p {
    font-size: 18px;
    line-height: 28px;
    color: #0E2374;
    margin-top: 0;
    margin-bottom: 10px;
}
dl, ol, ul {
    margin-top: 0;
    padding: 0;
}
li {
    display: inline-block;
    list-style-type: none;
    line-height: 17px;
}
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: block;
}
button {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}
button:hover {
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}
button:focus, input:focus, textarea:focus {
    outline: none;
}
input, textarea {
    font-family: "Montserrat";
    -webkit-appearance: none !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input, textarea, select {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #333;
    font-weight: 400;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 12px 21px;
}
label input {
    margin-left: 15px;
}


input:focus {
    outline: 0;
}
textarea {
    display: block;
}

.form_group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.form_label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #0E2374;
    display: block;
    margin-bottom: 5px;

    &.top {
        font-size: 12px;
        top: 0;
        transition: all .2s;
    }
}
.form_control:focus+.form_label {
    font-size: 12px !important;
    top: 0 !important;
    transition: all .2s;
}
.form_control {
    font-size: 16px;
    line-height: 22px;
    color: #0E2374;
    font-weight: 400;
    background: #fff;
    padding: 13px 15px;
    border: 1px solid #939CC0;
    border-radius: 25px;
    order: 1;

    &.error {
        border-bottom: 1px solid #EB5757;
    }
}
.btn {
    border-radius: 0;
    cursor: pointer;
    background-color: #fff;
    color: #404040;
    font-family: inherit;
    font-size: 16px;
    line-height: inherit;
}
.btn-default {
    font-size: 14px;
    font-weight: 700;
    color: #fff !important;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 12px 30px;
    display: inline-block;
    border: 2px solid #369448;
    background: #369448;
}
.btn-default:hover {
    color: #fff;
    box-shadow: 0 4px 7px rgba(57, 153, 75, 0.4);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.container_full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.row_m {
    margin-right: -15px;
    margin-left: -15px;

    .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9 {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.col_3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col_4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col_5 {
    flex: 0 0 auto;
    width: 41.666667%;
}
.col_6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col_7 {
    flex: 0 0 auto;
    width: 58.333333%;
}
.col_8 {
    flex: 0 0 66.666666%;
    max-width: 66.666666%;
}
.col_9 {
    flex: 0 0 75%;
    max-width: 75%;
}


.justify_align {
    justify-content: space-between;
    align-items: center;
}
.justify_content_center {
    justify-content: center;
}
.jc_center {
    justify-content: center;
}
.jс_space_between {
    justify-content: space-between;
}
.jc_end {
    justify-content: flex-end;
}
.ai_flex-start {
    align-items: flex-start;
}
.ai_flex-center {
    align-items: center;
}
.ai_flex-end {
    align-items: flex-end;
}

.p_relative {
    position: relative;
}

.border_none {
    border: none !important;
}

.icon,
.w-auto{
    width: auto;
}


.f-default {
    font-size: 18px;
    line-height: 25px;
}


.fz-22 {
    font-size: 22px !important;
    line-height: 30px !important;
}
.fz-16 {
    font-size: 16px !important;
    line-height: 26px !important;
}


.fw-4 {
    font-weight: 400;
}
.fw-5 {
    font-weight: 500;
}
.fw-6 {
    font-weight: 600;
}
.fw-7 {
    font-weight: 700;
}
.fw-8 {
    font-weight: 800;
}
.fw-9 {
    font-weight: 900;
}

.mxm-15 {
    margin-right: -15px;
    margin-left: -15px;
}

.d-block {
    display: block !important;
}
.m-auto {
    margin: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-12 {
    margin-bottom: 12px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mb-70 {
    margin-bottom: 70px !important;
}
.mb-90 {
    margin-bottom: 90px !important;
}

.p_offset_90 {
    margin-bottom: 90px !important;
}

.offset_bottom-90 {
    margin-bottom: 90px !important;
}
.m-r-15 {
    margin-right: -15px;
}



.pr-15 {
    padding-right: 15px;
}
.pl-15 {
    padding-left: 15px;
}
.pt-0 {
    padding-top: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}


.text_center {
    text-align: center;
}

.ul-marker {
    padding-left: 20px;

    li {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.04em;
        color: #E0E0E0;
        display: list-item;
        list-style-image: url(/images/icons/caret-right.svg);
        padding-left: 10px;
        margin-bottom: 16px;

        &.no_marker {
            list-style-image: none;
        }

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #E0E0E0;

            &:hover {
                color: #E4A744;
            }
        }
    }
}


.modal {
    position: fixed;
    z-index: 450;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.show {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s;
    }
}
.modal_overlay {
    position: fixed;
    z-index: 400;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(30, 36, 38, 0.5);
}
.modal_content {
    position: relative;
    z-index: 600;
    width: calc(100% - 30px);
    max-width: 400px;
    background: #fff;
    border: 1px solid #F1F3F5;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(14, 35, 116, 0.15);
    border-radius: 15px;

    h2 {
        font-size: 22px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #0E2374;
        margin-bottom: 30px;
        display: block;
    }
}
.modal_body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;

    p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
    }
    a {
        color: #237CE5;
    }
}
.modal_title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 30px;

    span {
        margin-left: 15px;
        color: #0088cc;
    }
}
.close_modal_icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.btn-close {
    width: 1rem;
    height: 1rem;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: none;
}


/////////////////////////////
///////////TABS//////////////
/////////////////////////////
.tab_list {
    background: rgba(24, 164, 240, 0.09);
    border-radius: 30px;
    padding: 10px;
    width: max-content;
    margin: 0 auto 30px;
}
.tab_item {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0E2374;
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .2s;

    &.active {
        background: #fff;
        box-shadow: 0 4px 15px rgba(14, 35, 116, 0.15);
        transition: all .2s;
    }
    &:last-child {
        margin-right: 0;
    }
}
.tab_content {
    color: #fff;
    //height: calc(100vh - 177px);
    position: relative;
    //overflow-y: auto;
    max-width: 970px;
    margin: 0 auto;
    background: linear-gradient(180deg, #7749F1 0%, #00BBF0 100%);
    box-shadow: 0 4px 15px rgba(14, 35, 116, 0.15);
    border-radius: 15px;
}
.tab_pane {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s linear;
    width: 100%;
    //height: 0vh;
    overflow: hidden;
    padding: 30px;

    &.active {
        position: relative;
        visibility: visible;
        opacity: 1;
        overflow: visible;
        transition: all .2s linear;
    }
}
.form_btn {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 12.5px;
    background: linear-gradient(180deg, #7749F1 0%, #00BBF0 100%);
    box-shadow: 0 4px 15px rgba(14, 35, 116, 0.15);
    border-radius: 35px;
    display: block;
    cursor: pointer;
    margin-top: 30px;
}

.text-red {
    color: #E24041;
}


.checkbox_data {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 25px;
    cursor: pointer;
}

.checkbox, .radio_box {
    display: none;
}
.checkbox_info {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #0E2374;
    flex: 1 0;
}
.check_checkbox {
    margin-top: 1px;
    margin-right: 15px;
    width: 18px;
    height: 18px;
    position: relative;
    border: 1px solid #DDDEDE;
    border-radius: 2px;
    cursor: pointer;
}
.checkbox:checked+.check_checkbox {
    background: linear-gradient(180deg, #7749F1 0%, #00BBF0 100%);

    &:before {
        content: url(/images/icons/icon-ok.svg);
        width: 18px;
        height: 18px;
        position: absolute;
        top: -2px;
        left: -1px;
    }
}
