@import "style/fonts";
@import "style/base-elements";
@import "style/base-styles";


.header {
    padding: 20px 0;
    position: absolute;
    z-index: 600;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.header_wrap, .header_body {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.close_menu,
.burger {
    display: none;
}

.menu_item {
    padding: 0 24px;

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
}
.menu_link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;

    &:hover,
    &:focus {
        color: #fff;
    }
}
.contact_link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #0E2374;
    text-align: right;
    display: block;

    &:hover {
        color: #0E2374;
    }
}



.home_container_wrap {
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
}

.top_bg {
    object-fit: cover;
    height: 700px;
    position: absolute;
    top: 0;
}
.label_info_desc {

    &:before {
        content: url("/images/icons/circle-gray.svg");
        position: absolute;
        left: 0;
        top: -1px;
    }
}

.home_wrap {
    padding-top: 88px;
    height: 700px;

    .label_info_desc {

        &:before {
            content: url("/images/icons/circle-white.svg");
        }
    }
    .form_control {
        padding-right: 50px;

    }
}
.form_control_wrap {
    max-width: 370px;

    &:after {
        content: url("/images/icons/send-mail.svg");
        position: absolute;
        top: 4px;
        right: 3px;
        z-index: 400;
        display: block;
        width: 42px;
        height: 42px;
        cursor: pointer;
    }
}
.home_wrap_body {
    .label_info_desc {
        color: #fff;
    }
}
.home_wrap_left {
    width: 50.7%;
}
.home_wrap_right {
    width: 49.3%;
}
.h1_desc {
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    margin-bottom: 40px;
}
.label_info_desc {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #959ec2;
    padding-left: 23px;
}


.personal_area_left {
    width: 43%;
    padding: 50px 15px 0;
}
.personal_area_right {
    width: 57%;
    padding: 0 15px;
}
.personal_area_right_img {
    position: relative;
    right: -15px;
}
.functions_body {
    max-width: 660px;
}

.functions_sliders {
    margin-bottom: 125px;
}

.function_tab_title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.function_tab_desc {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
}

.function_slide {
    justify-content: space-between;
    overflow: hidden;
}
.function_slide_info {
    width: 50%;
    max-width: 360px;
    padding-right: 15px;
}
.function_slide_img_wrap {
    width: 50%;
    max-width: 425px;
    padding-left: 15px;
}
.function_slide_img {
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
}


.splide__arrows {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: flex;
}

.splide__arrow {
    background: #fff;
    box-shadow: 0 4px 15px rgba(14, 35, 116, 0.15);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;

    &:first-child {
        margin-right: 30px;
    }
}
.splide__pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 15px;
    bottom: -65px;

    li {
        line-height: 0 !important;
        font-size: 0;
    }
}
.splide__pagination__page {
    background: #939CC0 !important;
    width: 8px !important;
    height: 8px !important;
    padding: 0;
    margin: 0 10px;
    border: none;
    border-radius: 50%;

    &.is-active {
        width: 15px !important;;
        height: 15px !important;;
        background: linear-gradient(180deg, #7749F1 0%, #00BBF0 100%) !important;;
    }
}

.consultation {
    padding: 30px;
    background: linear-gradient(180deg, #7749F1 0%, #00BBF0 100%);
    box-shadow: 0 4px 15px rgba(14, 35, 116, 0.15);
    border-radius: 15px;
    max-width: 970px;
}
.consultation_desc {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
}
.consultation_btn {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14.5px 50px;
    color: #0E2374;
    background: #fff;
    box-shadow: 0 4px 15px rgba(14, 35, 116, 0.15);
    border-radius: 35px;
    cursor: pointer;
}


.security {

    .personal_area_left {
        padding-top: 15px;
        width: 50%;
    }
    .personal_area_right {
        width: 50%;
    }
    .personal_area_right_img {
        max-width: 530px;
        margin-left: auto;
    }
}

.footer {
    padding: 30px 0;
    background: linear-gradient(180deg, rgba(119, 73, 241, 0.15) 0%, rgba(0, 187, 240, 0.15) 100%);

    .menu_link {
        color: #0E2374;

        &:hover,
        &:focus {
            color: #0E2374;
        }
    }
}
.footer_wrap {
    justify-content: space-between;
    align-items: flex-start;
}


























































































































































































































































@import "style/responsive";
